body {
	color: #FDAFAB;
	background-color: #FFF8EE;
}
h1 {
	color: #FC6D63;
}
h2 {
	color: #FC6D63;
}
h3 {
	color: #FC6D63;
}
h2 {
	color: #FC6D63;
} 
h3 {
	color: #FC6D63;
} 
p {
	font-family: "Palatino Linotype", "Book Antiqua", "serif";
	color: #FC6D63;
}
ul {
  color: #FC6D63;
}
a {
	color: #FAD4AE;
	background-color: #FC6D63;
}
